header{
    background-image: url(../ressources/images/photos/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 375px;
    height: 538px;
    
}