h1, h2, h3, .learnmore{
    font-family: $_font-titre;
}

h4, p, .links{
    font-family: $_font-p;
}


h1{
    font-weight: 900;
    font-size: 69px;    
}

h2{
    font-weight: 900;
    font-size: 40px;
}

h3{
    font-weight: 900;
    font-size: 18px;
}

.learnmore{
    font-weight: 900;
    font-size: 15px;
}


