.eggglass{    
    position: relative;
    align-items:center;
    .egg{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        img{
            width: 100%;
            height: 600px;
            object-fit: cover;
            order: 1;

        }
    }
    .glass{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        img{
            width: 100%;
            height: 600px;
            object-fit: cover;
        }
    }
    .text{
        position: relative;
        display:flex;
        flex-direction:column;
        align-items:center;
        margin: 40px 20px ;
        height: 286px;
        }

        
}



