header{
      .nav{
        .menuburger{
            display: none;
            }
            .headerlinks{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                
                a{
                    margin-right: 40px;
                    text-decoration: none;
                    color: white;
                }
                .contact{
                    background-color: white;
                    border-radius: 10px;
                    height: 25px;
                    color: black;
                    display:flex;
                    align-items: center;
                    padding: 5px;
                }
            }
        }
.titre{
        margin-top: 60px;
    }

}

