.cherrymandarine{
    display:flex;
    flex-direction:column;
    align-items:center;
    .cherry, .mandarine{
        position: relative;
        display: flex;
        flex-direction:column;
        img{
         object-fit: contain;
         z-index: 1;
         height: 600px;
         object-position: top;
        }
        .text{
            text-align: center;
            z-index: 2;
            position: absolute;
            bottom: 0;
            opacity: 0.5;
            h2{
            margin: 60px;
            }
            p{
                width: 100%;
                margin-bottom: 40px;
            }
        }
    }

}