.eggglass{    
    display:flex;
    flex-direction:column;
    align-items:center;

    img{
        width: 100%;
    }
    .text{
        border: 2px solid red;
        display:flex;
        flex-direction:column;
        align-items:center;
        width: 100%;
        }
    p{
        text-align: center;
    }
    h2{
        text-align: center;
    }
    a{
        text-align: center;
    }
}