header{
    height: 538px;
    .nav{
        display:flex;
        justify-content:space-between;
        padding: 20px;
        .burger{
            background-color: transparent;
            border:none;
        }
    }
    .titre{
        display: flex;
        flex-direction: column;
        justify-content:center;
        h1{
            color: white;
            text-align: center;
            margin: 40px 0;
            letter-spacing: 8px;
            line-height: 1.25;
        }
        
        p{
            display: none;
        }
        .arrow{
            width: 30px;
            align-self: center;
        }
    }
    h1{
        color: white;
        text-align: center;
    }
    .headerlinks{
        display: none;
    }
    .arrow{
        width: 30px;
        align-self: center;
    }
}