header{
    width: 100%;
    
    .nav{
        display:flex;
        justify-content:space-around;
    }
    .titre{
        text-align: center;
    }
    h1{
        color: white;
    }
    
    p{
        display: none;
    }
    .arrow{
        width: 30px;
        height: 107.48px;
    }
}